@{
    Layout = "Layout";
}
<section id="colecciones">
    <h1>País de origen</h1>
    <div class="obras-lista">
        <div class="pintor">
            <div class="pais-seccion">
                <a class="imgObra" href="VerPintor.html">
                    <img src="~/Pintores/1.jpg" alt="Artista" />
                </a>
                <h3 class="nombre">Nombre del pintor</h3>
                <div class="fecha-container">
                    <p class="fecha-falleci">1940</p>
                    <p>-</p>
                    <p class="fecha-nacim">1890</p>
                </div>
            </div>
        </div>
        <div class="pintor">
            <div class="pais-seccion">
                <a class="imgObra" href="VerPintor.html">
                    <img src="~/Pintores/2.jpg" alt="Artista" />
                </a>
                <h3 class="nombre">Nombre del pintor</h3>
                <div class="fecha-container">
                    <p class="fecha-falleci">1940</p>
                    <p>-</p>
                    <p class="fecha-nacim">1890</p>
                </div>
            </div>
        </div>
        <div class="pintor">
            <div class="pais-seccion">
                <a class="imgObra" href="VerPintor.html">
                    <img src="~/Pintores/3.jpg" alt="Artista" />
                </a>
                <h3 class="nombre">Nombre del pintor</h3>
                <div class="fecha-container">
                    <p class="fecha-falleci">1940</p>
                    <p>-</p>
                    <p class="fecha-nacim">1890</p>
                </div>
            </div>
        </div>
        <div class="pintor">
            <div class="pais-seccion">
                <a class="imgObra" href="VerPintor.html">
                    <img src="~/Pintores/4.jpg" alt="Artista" />
                </a>
                <h3 class="nombre">Nombre del pintor</h3>
                <div class="fecha-container">
                    <p class="fecha-falleci">1940</p>
                    <p>-</p>
                    <p class="fecha-nacim">1890</p>
                </div>
            </div>
        </div>
    </div>
    <h1>País de origen</h1>
    <div class="obras-lista">
        <div class="pintor">
            <div class="pais-seccion">
                <a class="imgObra" href="VerPintor.html">
                    <img src="~/Pintores/5.jpg" alt="Artista" />
                </a>
                <h3 class="nombre">Nombre del pintor</h3>
                <div class="fecha-container">
                    <p class="fecha-falleci">1940</p>
                    <p>-</p>
                    <p class="fecha-nacim">1890</p>
                </div>
            </div>
        </div>
        <div class="pintor">
            <div class="pais-seccion">
                <a class="imgObra" href="VerPintor.html">
                    <img src="~/Pintores/6.jpg" alt="Artista" />
                </a>
                <h3 class="nombre">Nombre del pintor</h3>
                <div class="fecha-container">
                    <p class="fecha-falleci">1940</p>
                    <p>-</p>
                    <p class="fecha-nacim">1890</p>
                </div>
            </div>
        </div>
        <div class="pintor">
            <div class="pais-seccion">
                <a class="imgObra" href="VerPintor.html">
                    <img src="~/Pintores/7.jpg" alt="Artista" />
                </a>
                <h3 class="nombre">Nombre del pintor</h3>
                <div class="fecha-container">
                    <p class="fecha-falleci">1940</p>
                    <p>-</p>
                    <p class="fecha-nacim">1890</p>
                </div>
            </div>
        </div>
        <div class="pintor">
            <div class="pais-seccion">
                <a class="imgObra" href="VerPintor.html">
                    <img src="~/Pintores/1.jpg" alt="Artista" />
                </a>
                <h3 class="nombre">Nombre del pintor</h3>
                <div class="fecha-container">
                    <p class="fecha-falleci">1940</p>
                    <p>-</p>
                    <p class="fecha-nacim">1890</p>
                </div>
            </div>
        </div>
    </div>
</section>