@{
    Layout = "Layout";
}
<div class="est">
    <div class="estampillapintor">
        <img id="pintor" src="~/Pintores/1.jpg" alt="Imagen del cuadro" />
    </div>
    <div class="descripcionpintor">
        <h1>Paul Gauguin</h1>
        <p>Francia <strong>,</strong> <label>Paris</label></p>
        <p><strong>Fecha de nacimiento:</strong> 1848-06-07</p>
        <p><strong>Fecha de fallecimiento:</strong> 1903-05-08</p>
        <p>
            Eugène Henri Paul Gauguin, conocido como Paul Gauguin, fue un pintor
            posimpresionista reconocido después de su fallecimiento. El uso
            experimental del color y su estilo sintetista fueron elementos clave
            para su distinción respecto al impresionismo.
        </p>
    </div>
    <div class="botones">
        <a class="button" href="Pintores.html">
            <img src="~/images/hogar.png" alt="Obra" />
        </a>
        <a class="button" href="VerCuadrosPorPintor.html">
            <img src="~/images/ver-lista.png" alt="Obra" />
        </a>
    </div>
</div>