@model PU5Pinacoteca.Areas.Admin.Models.AdminVerCuadrosViewModel
@{
    Layout = "LayoutAdmin";
}

    <a href="~/Admin/Cuadros/Agregar">
        <input type="button" id="agregarObraBtn" value="+" />
    </a>

    <section id="colecciones">
        @foreach (var item in Model.Colecciones)
    {
        
        <h1>@item.Clasificacion</h1>
        <div class="cuadro-seccion">
            <div>
                <ul class="Cuadros-lista">
                    @foreach (var cuadro in item.Cuadros)
                    {
                        
                    <li class="cuadro">
                        <img src="~/Cuadros/@(cuadro.Id).jpg" alt="Cuadro" />
                        <h3>@cuadro.Nombre</h3>
                        <h5>@cuadro.NombrePintor</h5>
                        <div class="obra-actions">
                            <a href="Editar.html" class="btnEditar">Editar</a>
                            <a href="Eliminar.html" class="btnBorrar">Eliminar</a>
                        </div>
                    </li>
                    }
                   
                </ul>
            </div>
        </div>

    }
        
    </section>