<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión</title>
    <link href="~/Styles/estilopincipal.css" rel="stylesheet" />
</head>
<body class="login">
    <main>
        @RenderBody()
    </main>
</body>
</html>
