
@{
    Layout = "Layout_Admin2";
}
<form>
    <div>
        <h1>Agregar Pintor</h1>

        <label>Nombre:</label>
        <input type="text" id="txtNombre" />

        <label>País:</label>
        <input type="text" id="txtPais" />

        <label>Ciudad:</label>
        <input type="text" id="txtCiudad" />

        <label>Fecha Nacimiento:</label>
        <input type="text" id="txtFechaNacimiento" />

        <label>Fecha Fallecimiento:</label>
        <input type="text" id="txtFechaFallecimiento" />

        <label>Biografía:</label>
        <input id="txtbiografia" type="text" />

        <label>Imagen:</label>
        <input type="file" id="fileUpload1" accept="image/jpg" />

        <img id="imagePreview" src="~/Pintores/no-disponible.png" />

        <div class="botones">
            <p id="error"></p>
            <input type="submit" value="Agregar" id="btnAgregar" />
            <a href="AdminPintor.html">
                <input type="button" value="Cancelar" id="btnCancelar" />
            </a>
        </div>
    </div>
</form>
<script>
    function mostrarImagen(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById("imagePreview").src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    document
        .getElementById("fileUpload1")
        .addEventListener("change", function () {
            mostrarImagen(this);
        });
</script>