
@{
    Layout = "LayoutAdmin";
}
<a href="AgregarPintor.html">
    <input type="button" id="agregarObraBtn" value="+" />
</a>

<section id="colecciones">

    <h1>Pais de origen</h1>
    <div class="pais-seccion">
        <div>
            <ul class="obras-lista">
                <li class="obra">
                    <img src="~/Pintores/1.jpg" alt="Pintor" />
                    <h3>Nombre del pintor</h3>
                    <div class="fecha-container">
                        <p class="fecha-inicio">1890</p>
                        <span>-</span>
                        <p class="fecha-fin">1940</p>
                    </div>
                    <div class="obra-actions">
                        <a href="EditarPintor.html" class="btnEditar">Editar</a>
                        <a href="EliminarPintor.html" class="btnBorrar">Eliminar</a>
                    </div>
                </li>
                <li class="obra">
                    <img src="~/Pintores/1.jpg" alt="Pintor" />
                    <h3>Nombre del pintor</h3>
                    <div class="fecha-container">
                        <p class="fecha-inicio">1890</p>
                        <span>-</span>
                        <p class="fecha-fin">1940</p>
                    </div>
                    <div class="obra-actions">
                        <a href="EditarPintor.html" class="btnEditar">Editar</a>
                        <a href="EliminarPintor.html" class="btnBorrar">Eliminar</a>
                    </div>
                </li>
                <li class="obra">
                    <img src="~/Pintores/1.jpg" alt="Pintor" />
                    <h3>Nombre del pintor</h3>
                    <div class="fecha-container">
                        <p class="fecha-inicio">1890</p>
                        <span>-</span>
                        <p class="fecha-fin">1940</p>
                    </div>
                    <div class="obra-actions">
                        <a href="EditarPintor.html" class="btnEditar">Editar</a>
                        <a href="EliminarPintor.html" class="btnBorrar">Eliminar</a>
                    </div>
                </li>
                <li class="obra">
                    <img src="~/Pintores/1.jpg" alt="Pintor" />
                    <h3>Nombre del pintor</h3>
                    <div class="fecha-container">
                        <p class="fecha-inicio">1890</p>
                        <span>-</span>
                        <p class="fecha-fin">1940</p>
                    </div>
                    <div class="obra-actions">
                        <a href="EditarPintor.html" class="btnEditar">Editar</a>
                        <a href="EliminarPintor.html" class="btnBorrar">Eliminar</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</section>